<!DOCTYPE HTML>
<html>

<head>
    <title>
        <%= pageTitle %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/orders.css">
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="fa fa-book"></span> <span class="title">GoodReads</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/" class="active">Home</a></li>

                <li><a href="/products">Products</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/testimonials">Testimonials</a></li>
                        <li><a href="/terms">Terms</a></li>
                    </ul>
                </li>

                <% if (isAuthenticated) { %>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/orders">My orders</a></li>

                    <li><a href="/admin/add-product">Add Product</a></li>
                    <li><a href="/admin">Admin Products</a></li>
                    <% } %>

                        <li><a href="/contact">Contact Us</a></li>
            </ul>
            <ul>
                <% if (!isAuthenticated) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <% } else { %>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="primary" type="submit">Logout</button>
                            </form>
                        </li>
                        <% } %>
            </ul>
        </nav>