<%- include('../includes/head.ejs') %>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Products</h1>

            <div class="image main">
                <img src="/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
            </div>

            <!-- Products -->
            <%- include('../includes/featured.ejs') %>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <%- include('../includes/footer.ejs') %>
        </div>
    </footer>


    </div>

    <!-- Scripts -->
    <%- include('../includes/scripts.ejs') %>
        </body>

        </html>