<html>

<head>
    <title>Form</title>
</head>

<body>
    <form method="POST" action="/form-process">
        <table>
            <tr>
                <td>Number1 :</td>
                <td><input type="number" name="txt1" required /></td>
            </tr>

            <tr>
                <td>Number2:</td>
                <td><input type="number" name="txt2" required /></td>
            </tr>

            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>

</html>