<section>
    <h2>Contact Us</h2>
    <form method="post" action="/contact-process">
        <div class="fields">
            <div class="field half">
                <input type="text" name="name" id="name" placeholder="Name" />
            </div>

            <div class="field half">
                <input type="text" name="email" id="email" placeholder="Email" />
            </div>

            <div class="field">
                <textarea name="message" id="message" rows="3" placeholder="Message"></textarea>
            </div>

            <div class="field text-right">
                <label>&nbsp;</label>

                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>