<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/" class="active">Home</a></li>

        <li><a href="/products">Products</a></li>

        <li><a href="/checkout">Checkout</a></li>

        <li>
            <a href="#" class="dropdown-toggle">About</a>

            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>
        </li>

        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>